body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    background:darkcyan;
}

/* Landing Page Header */
#landing-header {
    background:rgba(0,0,0,0.8);
    color:white;
    overflow:hidden;
    height:50px;
}

.land h1 {
    margin-top:5px;
    text-align:center;
    cursor:pointer;
    font-family:arial;
}

.land i {
    animation-name:spin;
    animation-duration:5000ms;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Employer Page Header */
#employer-header {
    background:rgba(0,0,0,0.8);
    color:white;
    overflow:hidden;
    height:50px;
    position:fixed;
    width:100%;
    top:0;
}

.employ h1 {
   margin-top:5px;
    cursor:pointer;
    font-family:arial; 
    float:left;
}

.employ h1 a {
    text-decoration:none;
    color:white;
}

.employ i {
    animation-name:spin;
    animation-duration:5000ms;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.employ {
   width:50%;
   margin:auto;
}

#client-header {
    background:rgba(0,139,139,0.8);
    color:white;
    overflow:hidden;
    height:50px;
    position:fixed;
    width:100%;
    top:0;
}

.client h1 {
   margin-top:5px;
    cursor:pointer;
    font-family:arial; 
    float:left;
}

.client h1 a {
    text-decoration:none;
    color:white;
}

.client i {
    animation-name:spin;
    animation-duration:5000ms;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.client {
    width:50%;
    margin:auto;
    overflow:hidden;
}

.menu {
    position:relative;
    top:25%;
    width:100%;
    text-align:center;
    margin-top:30px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: ;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    font-family:arial;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: darkcyan;
    display: block;
    transition: 0.1s;
}

.overlay a:hover {
    color:white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

label {
    font-size:26px;
    cursor:pointer;
    float:right;
    margin-top:10px;
}

#toggle {
    display:none;
}

/* Employer Showcase Section */
#showcase {
    background:url(computer.jpeg);
    overflow:hidden;
    height:100vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    font-family:arial;
    text-align:center;
}

.show {
    background:rgba(0,139,139,0.8);
    overflow:hidden;
    height:100vh;
}

.show h2 {
    padding-top:300px;
    color:white;
    font-size:40px;
    padding-bottom:60px;
    width:40%;
    margin:auto;
}

.show .con-me {
    text-decoration:none;
    color:black;
    border:2px solid black;
    padding:10px 20px 10px 20px;
    transition:all .5s;
}

.show .con-me:hover {
    background:black;
    padding:10px 50px 10px 50px;
    color:white;
}

.show p a {
    text-decoration:none;
    color:white;
}

.show p a:hover {
    color:black;
}

.show p {
    padding-top:400px;
}

#showcase2 {
    background:url(coding.jpeg);
    overflow:hidden;
    height:100vh;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    font-family:arial;
    text-align:center;
}

.show2 {
    background:rgba(0,0,0,0.8);
    overflow:hidden;
    height:100vh;
}

.show2 h2 {
    padding-top:300px;
    color:white;
    font-size:40px;
    padding-bottom:60px;
    width:70%;
    margin:auto;
}

.show2 .con-me {
    text-decoration:none;
    color:darkcyan;
    border:2px solid darkcyan;
    padding:10px 20px 10px 20px;
    transition:all .5s;
}

.show2 .con-me:hover {
    background:darkcyan;
    padding:10px 50px 10px 50px;
    color:white;
}

.show2 p a {
    text-decoration:none;
    color:white;
}

.show2 p a:hover {
    color:darkcyan;
}

.show2 p {
    padding-top:400px;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Employer About Me Section */
#about-me {
    background:rgba(0,0,0,0.8);
    overflow:hidden;
    margin:auto;
    font-family:arial;
    text-align:center;
    padding-bottom:200px;
}

.about h2 {
    padding-top:150px;
    text-align:center;
    color:darkcyan;
    font-size:35px;
}

.about {
    width:60%;
    margin:auto;
    overflow:hidden;
}

.about .first {
    text-align:left;
    display:none;
    color:white;
}

.first p {
    line-height:1.5;
    font-size:18px;
}

.first i {
    color:white;
    cursor:pointer;
}

button {
    background:darkcyan;
    border:2px solid black;
    color:white;
    cursor:pointer;
    padding:10px 30px 10px 30px;
    transition:all .5s;
}

button:hover {
    padding:10px 50px 10px 50px;
}

.back-up {
    color:white;
    margin-top:900px;
	padding-right:22px;
	float:right;
	right:0;
    top:0;
	position:fixed;
	z-index:99;
}

.back-up a {
    display:block;
    color:purple;
    transition:all 1s;
}

.back-up a:hover {
    color:black;
}


/* Employer My Skills section */
#myskills {
    text-align:center;
    font-family:arial;
    padding-bottom:200px;
    background:white;
    overflow:hidden;
}

.skills h2 {
    padding-top:200px;
    font-size:35px;
    color:darkcyan;
}
.skills ul {
    text-align:center;
    padding:0;
}
.skills li {
    width:30%;
    list-style-type:none;
    display:inline-block;
    padding:8px;
}
.skills li p {
    text-align:left;
    line-height:1.5;
}

.second {
    display:none;
}

.second i {
    cursor:pointer;
}

/* Why is a website important section */
#why-import {
    background:white;
    margin:auto;
    overflow:hidden;
    padding-bottom:100px;
    font-family:arial;
}

.import h2 {
    padding-top:100px;
    font-size:35px;
    color:darkcyan;
    text-align:center;
}

.import ul {
    padding:0;
    text-align:center;
}

.import li {
    list-style-type:none;
    display:inline-block;
    padding:0 80px 0 0;
    color:darkcyan;
    margin-top:15px;
}

/* What I do section */
#services {
    background:rgba(0,0,0,0.8);
    overflow:hidden;
    margin:auto;
    font-family:arial;
    padding-bottom:100px;
}

.ser {
    width:50%;
    margin:auto;
    overflow:hidden;
}

.ser ul {
    te
    padding:0;
}

.ser li {
    color:white;
    line-height:1.5;
    font-size:18px;
}

.ser h2 {
    color:darkcyan;
    text-align:center;
    padding-top:100px;
    font-size:35px;
}

.ser p {
    color:white;
    line-height:1.5;
    font-size:18px;
}

/* What I charge section */
#charge {
    background:white;
    overflow:hidden;
    margin:auto;
    padding-bottom:100px;
    font-family:arial;
}

.char {
    width:50%;
    margin:auto;
    overflow:hidden;
}

.char h2 {
    padding-top:100px;
    color:darkcyan;
    font-size:35px;
    text-align:center;
}

.char p {
    line-height:1.5;
    color:darkcyan;
    font-size:18px;
}
/* Portfolio Section */
#portfolio {
    font-family:arial;
    padding-bottom:100px;
}

.port h2 {
    text-align:center;
    font-size:35px;
    color:white;
    padding-top:100px;
}

.port ul {
    text-align:center;
    padding:0;
}
.port li {
    list-style-type:none;
    display:inline-block;
    width:30%;
    margin:auto;
    padding:3px;
}

.port li p {
    text-align:left;
    line-height:1.5;
}

.port li a {
    text-decoration:none;
    color:white;
    border:2px solid white;
    padding:5px 15px 5px 15px;
    transition:all .5s;
}

.port li a:hover {
    padding:5px 35px 5px 35px;
    background:white;
    color:darkcyan;
}

.port li img {
    padding:0;
    transition:all 1s;
}

.port li img:hover {
    width:600px;
    height:400px;
}

/* Contact Section */
#contact-me {
    background:white;
    overflow:hidden;
    margin:auto;
    padding-bottom:100px;
    font-family:arial;
    text-align:center;
}

.contact h2 {
    color:darkcyan;
    font-size:35px;
    padding-top:100px;
}

input[type=text], select, textarea {
    width: 50%; /* Full width */
    background:white;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 12px; /* Some padding */
    border: 5px solid darkcyan; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:25px;
    text-align:center;
    font-family:verdana;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: darkcyan;
}

/* Landing Page Section */
#landing .left {
    background:url(computer.jpeg);
    overflow:hidden;
    height:100vh;
    width:50%;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    float:left;
    transition:all 2s;
}

#landing .background1 {
    background:rgba(0,139,139,0.8);
    overflow:hidden;
    height:100vh;
}

#landing .right {
    background:url(coding.jpeg);
    width:50%;
    height:100vh;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    float:right;
    transition:all 2s;
}

#landing .background2 {
    background:rgba(0,0,0,0.8);
    height:100vh;
    overflow:hidden;
}

#landing {
    font-family:arial;
    text-align:center;
    background:darkcyan;
}

#landing h1 {
    color:white;
    margin-top:350px;
    text-transform:uppercase;
    font-size:50px;
}

#landing .button {
    border:2px solid white;
    padding:5px 15px 5px 15px;
    text-decoration:none;
    color:white;
    font-size:20px;
    transition:all .7s;
}

#landing .button:hover {
    padding:5px 30px 5px 30px;
    background:white;
    color:black;
}

/* Footer Landing Page */
#footer-landing {
    position:fixed;
    width:100%;
    bottom:0;
    background:rgba(255,255,255,0.5);
    overflow:hidden;
    font-family:arial;
}

.foot-land {
    width:50%;
    margin:auto;
}

.foot-land p {
    color:white;
    float:left;
    margin:0;
    padding:10px;
}

.social-media {
    float:right;
    margin:0;
}

.social-media a {
    color:white;
    text-decoration:none;
    padding:10px;
    transition:all 1s;
}

.social-media a:hover {
    color:darkcyan;
}

/* Employer Footer Section */
#footer-employer {
    background:black;
    overflow:hidden;
    font-family:arial;
    margin:auto;
}

.foot-employ {
    width:50%;
    margin:auto;
    overflow:hidden;
}

.foot-employ p {
    color:white;
    float:left;
    margin:0;
    padding:10px;
}

.social-media {
    float:right;
    margin:0;
}

.social-media a {
    color:white;
    text-decoration:none;
    padding:10px;
    transition:all 1s;
}

.social-media a:hover {
    color:darkcyan;
}

@media only screen and (max-width:800px) {
    #landing .left {
        float:none;
        width:100%;
    }
    
    #landing .left:hover {
        width:100%;
    }
    
    #landing .right {
        float:none;
        width:100%;
    }
    
    #landing .right:hover {
        width:100%;
    }
    
    #landing h1 {
        margin-top:200px;
        font-size:30px;
    }
    
    /* Employer Page Header */
    .employ {
        width:97%;
    }
    
    /* Client Page Header */
    .client {
        width:97%;
    }
    
    /* Employer Page Showcase */
    .show h2 {
        font-size:24px;
        padding-top:200px;
        width:90%;
    }
    
    .show p {
        padding-top:50px;
    }
    
    .show2 h2 {
        font-size:24px;
        padding-top:150px;
        width:80%;
    }
    
    .show2 p {
        padding-top:50px;
    }
    
    /* Employer Page About Me */
    .about {
        width:100%;
    }
    
    .back-up {
        display:none;
    }
    
    /* Employer skills section */
    .skills li {
        display:block;
        width:97%;
        padding:0;
    }
    
    /* Client why important section */
    .import li {
        display:block;
        padding:0;
    }
    
    /* What I do section */
    .ser {
        width:100%;
    }
    
    /* What I charge section */
    .char {
        width:100%;
    }
    
    /* Footer Landing Page */
    .foot-land {
        width:100%;
    }
    
    .foot-employ {
        width:100%;
    }
    
    /* Overlay */
    .overlay a {
        font-size:20px;
    }
    
    .overlay a:hover {
        color:white;
    }
    
    /* Portfolio Section */
    .port li {
        display:block;
        width:100%;
        padding:0 0 10px 0;
    }
    
    .port li img {
        width:325px;
        height:200px;
    }
    
    .port li img:hover {
        width:325px;
        height:200px;
    }
    
    /* Employer Contact Section */
    input[type=text], select, textarea {
    width: 90%;
    }
}
